{% extends "maestra.html" %}
{% block titulo %}
Agregar parte
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar parte</h3>
            <form action="{{url_for('guardar_parte')}}" method="post">

                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">

                <label for="descripcion">Descripción:</label>
                <input required type="text" class="input" placeholder="Descripcion" name="descripcion" id="descripcion">

                <label for="equipo_id">Equipo:</label>
                <select required class="input" name="equipo_id" id="equipo_id">
                    {% for equipo in equipos %}
                        <option value="{{ equipo[0] }}">{{ equipo[1] }}</option>
                    {% endfor %}
                </select>

                <label for="estado">Estado:</label>
                <div class="field mt-2">
                    <input type="checkbox" name="estado" id="estado" class="is-checkradio">
                    <label for="estado">Activo</label>
                </div>
                
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('partes')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
