{% extends "maestra.html" %}
{% block titulo %}
Agregar subarea
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar subarea</h3>
            <form action="{{url_for('guardar_subarea')}}" method="post">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">

                <label for="descripcion">Descripción:</label>
                <input required type="text" class="input" placeholder="Descripcion" name="descripcion" id="descripcion">

                <label for="area_id">Area:</label>
                <select required class="input" name="area_id" id="area_id">
                    {% for area in areas %}
                        <option value="{{ area[0] }}">{{ area[1] }}</option>
                    {% endfor %}
                </select>
                
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('subareas')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
