{% extends "maestra.html" %}
{% block titulo %}
Editar tipo de equipo
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar tipo de equipo</h3>
            <form action="{{url_for('actualizar_tipo_equipo')}}" method="post">
                {# Enviar el ID en un campo oculto #}
                <input type="hidden" name="id" value="{{tipoequipo[0]}}">
                <label for="nombre">Nombre:</label>
                <input value="{{tipoequipo[1]}}" required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <label for="descripcion">Descripcion:</label>
                <input value="{{tipoequipo[2]}}" required type="text" class="input" placeholder="Descripcion" name="descripcion" id="descripcion">
                <button type="submit" class="button is-success mt-2">Guardar </button>
                <a href="{{url_for('tipo_equipos')}}" class="button is-primary mt-2">Volver</a> 
            </form>
        </div>
    </div>
</section>
{% endblock %}
