{% extends "maestra.html" %}
{% block titulo %}
Editar usuario
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar usuario</h3>
            <form action="{{url_for('actualizar_usuario')}}" method="post">
                {# Enviar el ID en un campo oculto #}
                <input type="hidden" name="id" value="{{usuario[0]}}">
                
                <label for="nombre">Nombre:</label>
                <input value="{{usuario[1]}}" required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                
                <label for="email">Email:</label>
                <input value="{{usuario[2]}}" required type="email" class="input" placeholder="Email" name="email" id="email">
                
                <label for="contrasena">Contraseña (dejar en blanco para no cambiar):</label>
                <input type="password" class="input" placeholder="Nueva contraseña" name="contrasena" id="contrasena">
                
                <label for="rol" style="margin-bottom: 0.5rem;">Rol:</label>
                <div class="select">
                    <select name="rol" id="rol" required>
                        <option value="Administrador" {{ 'selected' if usuario[3] == 'Administrador' else '' }}>Administrador</option>
                        <option value="Operador" {{ 'selected' if usuario[3] == 'Operador' else '' }}>Operador</option>
                        <option value="Invitado" {{ 'selected' if usuario[3] == 'Invitado' else '' }}>Invitado</option>
                    </select>
                </div>

                <label for="estado">Estado:</label>
                <div class="field mt-2">
                    <input type="checkbox" name="estado" id="estado" class="is-checkradio" {{ 'checked' if usuario[4] == 'Activo' else '' }}>
                    <label for="estado">Activo</label>
                </div>

                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('usuarios')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
