{% extends "maestra.html" %}
{% block titulo %} Equipos {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Equipos</h3>
            <a href="{{url_for('formulario_agregar_equipo')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código Patrimonial</th>
                        <th>Tipo de Equipo</th>
                        <th>Procesador</th>
                        <th>Memoria RAM</th>
                        <th>Almacenamiento</th>
                        <th>Sistema Operativo</th>
                        <th>Subárea</th>
                        <th>Estado</th>
                        <th>Cambiar estado</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipo in equipos %}
                    <tr>
                        <td>{{equipo[1]}}</td>
                        <td>{{equipo[2]}}</td>
                        <td>{{equipo[3]}}</td>
                        <td>{{equipo[4]}}</td>
                        <td>{{equipo[5]}}</td>
                        <td>{{equipo[6]}}</td>
                        <td>{{equipo[7]}}</td>
                        <td>{{equipo[8]}}</td>
                        <td>
                            <form action="{{ url_for('cambiar_estado_equipo') }}" method="POST">
                                <input type="hidden" name="id" value="{{ equipo[0] }}">
                                <input type="hidden" name="estado" value="{{ 'Inactivo' if equipo[8] == 'Activo' else 'Activo' }}">
                                <button type="submit" class="button is-warning">
                                    {{ 'Desactivar' if equipo[8] == 'Activo' else 'Activar' }}
                                </button>
                            </form>
                        </td>
                        <td>
                            <a href="{{url_for('editar_equipo', id=equipo[0])}}" class="button is-info">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
